# Providers
apache-airflow-providers-apache-kafka
apache-airflow-providers-amazon
apache-airflow-providers-trino
apache-airflow-providers-apache-spark

# Thư viện hỗ trợ xử lý dữ liệu
pandas
pyarrow
requests